{% extends "billing/auth_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login - SLR Billing{% endblock %}

{% block auth_title %}Welcome Back{% endblock %}
{% block auth_subtitle %}Please sign in to continue{% endblock %}

{% block auth_content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
    <div class="auth-footer">
        <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a></p>
    </div>
</form>
{% endblock %} 